*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./bg-01.png");
    background-position: center;
    background-size: cover;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    background: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.banner h1{
    font-size: 4.7rem;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YEAR" 1979;
    z-index: 999;
    background-image: linear-gradient(to left, rgb(242, 242, 242), rgba(0, 0, 0, 0.952), rgba(242, 242, 242, 0.87));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.refri-container{
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.refri-logo-02{
    cursor: pointer;
    transition: transform 3.5s ease;
}
.refri-logo{
    cursor: pointer;
    transition: transform 3.5s ease;
}
.refri-container.vibrando .refri-logo {
    animation: vibrate 0.2s linear infinite;
}

.refri-container.vibrando .refri-logo-02 {
    animation: vibrate 0.2s linear infinite;
}

@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}



