*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./bg-01.png");
    background-position: center;
    background-size: cover;
}
h1, h2{
    font-size: 5rem;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YEAR" 1979;
    z-index: 999;
}
.refri-container{
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

