@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF5EE;
}

/* ----- */
/* 🟢🟢 */
.logo{
  display: block;
  margin-left: 20px;
}
.logo img{
  width: 150px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    height: 50px;
    top: 5%;
    margin-left: 150px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0 0 0 0;
  padding: 0;
  border-radius: 20px;
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
    gap: 200px;
}
.nav-links li a {
  color: rgb(246, 246, 246);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  background-color: #000000;
  border-radius: 50px;
  margin: 0 100px;
}
#b{
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
}
#b:hover{
  background-color: #CF7312;
}
#a{
  color: rgb(226, 226, 226);
  background-color: #CF7312;
  border-radius: 20px;
}
.nav-links #a:hover{
  background-color: black;
}
/* 🔴🔴 */


/* 🟢🟢 */
#bg {
  width: 100vw;    
  max-width: 100%;              
  height: auto;                
  overflow: hidden;            
  margin: 0;
  padding: 0;
  position: relative;
}
#bg img {
  width: 100%;
  height: auto;
  object-fit: cover;             
  /* display: block; */
}
/* 🔴🔴 */


/* 🟢🟢 */
#conj{
  display: flex;
  position: absolute;
  top: 47%;                    
  left: 60%;                   
  z-index: -1;             
  cursor: pointer;
  animation: float 5s infinite;
}

@keyframes float {
  0%{
    transform: translate(-50%, -50%) translateY(0px);
  }
  50%{
    transform: translate(-50%, -50%) translateY(-50px);
  }
  100%{
    transform: translate(-50%, -50%) translateY(0px);
  }
}
/* 🔴🔴 */


/* 🟢🟢 */
.banner .forro{
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
  color: white;
  display: flex;
  position: absolute;
  z-index: 999;
}
.banner .forro h1{ 
  font-size: 130px;
  margin-top: 250px;
}
strong{
  margin-left: 500px;
}
/* 🔴🔴 */


/* 🟢🟢 */
.cerveja img{
  width: 1300px;
  position: absolute;
  top: 90%;
  left: -50px;
  transform: translate(-50%);
  rotate: 90deg;
}
.limao img{
  width: 1300px;
  position: absolute;
  top: 120%;
  left: 600px;
  transform: translate(-50%);
  /* rotate: 90deg; */
}
/* 🔴🔴 */


/* 🟢🟢 */
.botao-container {
    display: flex;
    /* flex-direction: column; */
    top: 85%;
    left: 64%;
    justify-content: center;
    align-items: center;
    /* gap: 2rem;
    margin: 2rem 0;
    padding: 1rem; */
    position: absolute;
}
.botao-container .botao-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
}
.botao-container .botao-pesquisa button {
    font-family: 'Dosis', sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
    color: whitesmoke;
    padding: 1rem 1.5rem;
    border: none;
    background: linear-gradient(135deg, #CF7312, #000000);
    border-radius: 2rem;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
main .botao-container .botao-pesquisa button:hover {
    background: linear-gradient(135deg, #000000, #CF7312);
    transform: scale(1.2);
}
.botao-container img{
  background-color: #CF7312;
  border-radius: 10px;
  width: 25px;
}



